.grid-x
  .cell
    %h1= @project.name
.grid-x
  - if @project.tracks.attached?
    - @project.tracks.each do |track|
      = render 'tracks/track', project: nil, track: track # Do not pass project from here
.grid-x
  .cell
    %br/
    %ul.menu.simple
      %li= link_to 'Edit', edit_project_path(@project)
      %li= link_to 'All projects', projects_path
