body {
  background-color: $backgound-color;
}

// Default for dark color backgrounds
a {
  color: #20e7ff;
  &:hover {
    color: darken(#20e7ff, 15%);
  }
}

// To be used on any light color backgrounds
.dark_links {
  color: black;
  font-weight: bold;
  a {
    color: #007287;
    &:hover {
      color: darken(#007287, 15%);
    }
  }
}

.bar {
  position: relative;
  .remove_link {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: x-large;
    color: red;
    &:hover {
      color: darken(red, 15%);
    }
  }
}

.remove_link {
  float: right;
  font-size: x-large;
  color: red;
  &:hover {
    color: darken(red, 15%);
  }
}

.new_activity {
  color: #3daf2c !important;
  font-size: x-large;
  &:hover {
    color: darken(#3daf2c, 15%) !important;
  }
  span {
    font-size: medium !important;
  }
}

.player {
  background-color: $topbar-background;
}

.scroll-x {
  white-space: nowrap;
  overflow-x: scroll;
}

.center {
  text-align: center;
  a {
    display: inline-block;
  }
}
