// Style the files / tracks
[id^=track_] {
  margin-bottom: 5px;
}

.bar {
  background-color: $light-gray;
  padding: 5px;
  @extend .dark_links;
}

.downloaded {
  color: #00ff47;
  font-size: xx-large;
}
