- provide :title, 'About us'

.grid-x
  .cell.medium-3.large-2
    = image_tag 'logo.svg'
  .cell.medium-8.medium-offset-1.large-9
    %h3 Band Members
    %ul.menu.vertical
      %li
        Lead vocals | Rythem guitar -
        %b Anthony Midili
        AKA
        %i
          %b Tony Winslow
      %li
        Lead guitar | Bass -
        %b Chauncey Washington
        AKA
        %i
          %b Mad Man
      %li
        Drums | Backup vocals -
        %b Lucian Ford
        AKA
        %i
          %b Animal
      %li
        %b Manger LEO MIDILI
.grid-x
  .cell
    %br/
    %p
      We play all original music that can best be described as Rock, Blues and Folk
      all rolled up into one. FunkyBlueRock as we like to call it.
