%footer
  #style_footer
    .grid-x
      .medium-4.cell
        = link_to 'https://ttfh.co' do
          = image_pack_tag 'WebDesign_LetterHead.svg'

      .medium-8.cell
        .float-right
          %ul.menu
            %li= link_to 'Home', root_path
            %li= link_to 'About', about_path
